# Python
*.pyc
*.pyo


# PyCharm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/

## File-based project format:
*.iws

# Visual Studio
*.sln
*.pyproj

